header{
    background-color: darkmagenta;
}
nav{
    background-color: darkred;
}
main{
    
}
a{
    color: rgb(255, 115, 0);
    background-color: darkmagenta;
    border: 8px solid black;
    border-radius: 10px;
    padding: 2px;
    margin: 10px;
    text-decoration: none;
}

a:hover{
    background-color: yellow;
}
a:active{
    border-width: 5px;
}
body{
    background-color: darkslategray;
}
h2{
    text-align: center;
}
h1{
    text-align: center;
}
p{
    text-align: center;
}
p{
    text-align: center;
}